body {
    background: linear-gradient(90deg, #69b7eb, #b3dbd3, #f4d6db);
}

#main-content {
    width: 90%;
    padding: 2em 3em;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
#main-content2 {
    width: 90%;
    padding: 2em 3em;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

table.iksweb{text-decoration: none;width:100%;text-align:center; border-spacing: 10px 10px;}
table.iksweb th{font-weight:normal;font-size:18px; color:#c73232;background-color:#1f3e54;}
table.iksweb td{font-size:17px;color:#262069;}
table.iksweb td,table.iksweb th{white-space:pre-wrap;padding:19px 0px;line-height:17px;vertical-align: middle;border: 3px solid #003b01;}


.circle {
    margin: 10px;
    width: 80px;
    height: 80px;
    line-height: 80px;
    border-radius: 50%;
    font-size: 12px;
    text-align: center;
    background: linear-gradient(90deg, #69b7eb, #b3dbd3, #f4d6db);
}

.container {
    display: flex;
}

.row1{
    margin: 2px;
    padding: 5px;
    display: inline-block;
    border: 2px solid #9debaf;
    border-radius: 0 0 20px 20px;
    width: 10%;
}
.row2{
    margin: 2px;
    padding: 5px;
    border: 2px solid #70dbc6;
    border-radius: 0 0 20px 20px;
    display: inline-block;
    width: 50%;
}
.row3 {
    margin: 2px;
    padding: 5px;
    border: 2px solid #0081a8;
    display: inline-block;
    border-radius: 0 0 20px 20px;
    width: 33%;
}

.skipLap {
    display: inline-block;
    width: 7%;
}

.row{
    display: inline-block;
    width: 32%;
}


.divPoints{
    display: inline-block;
    width: 19%;
    padding: 5px;
}

.divRPoints{
    display: inline-block;
    width: 19%;
    padding: 5px;
}

.roundTimer {
    display: inline-block;
    width: 15%;
}
.retroTimer {
    display: inline-block;
    width: 15%;
}

/*
.roundTimer {
    display: inline-block;
    width: 70%;
}

.retroTimer {
    display: inline-block;
    width: 30%;
}
*/

.buttonTable {
    background-color: lightblue; /* Green */
    border: none;
    border-radius: 5px;
    text-color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-left: 5px;
    cursor: pointer;
    font-size: 8px;
}

.gradient-button {
    color: white;
    border-color: mediumaquamarine;
    border-radius: 6px;
    background-color:#4eb5f1;
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.3em 0.3em 0;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    text-align:center;
    transition: all 0.2s;
}
.gradient-button:hover{
     background-color:#ffffff;
}